%section.about
  %p
    %span.italic
      Kapow 
    is an interactive projection that invites viewers to input names of LGBTQ+ activists, role models, and community members.  These names are used to drive the generation of imagery inspired by the aesthetics of superhero comics.  

    This project draws parallels between the secret identities of masked vigilantes and the tradition of alter-egos in the queer community. Whether it be needing to conceal aspects of oneself for reasons of personal security, or choosing to dress up in tights and a cape in order to explore one’s identity through the art of drag, multifaceted identities are not uncommon to people on the LGBTQ+ spectrum.  

    %span.italic
      Kapow 
    is intended as a playful celebration of the members of the LGBTQ+ community who figuratively punch injustice, ignorance, and oppression in the face - either through activism or simply by being themselves.
