// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #41a6de;
$light-blue: #84c5ea;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body, html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $blue;
  font-family: 'Bangers', Helvetica, Arial, sans-serif;
}

.messages {
  margin: 1rem;
  @media (min-height:350px) {
    padding: 10vh;
  }
  line-height: 4rem;
  height: 4rem;
}

.names {
  max-width: 70%;
  margin: 0 auto;
}

.entry {
  font-size: 2rem;
  margin: auto auto;
  max-width: 800px;
  width: 80%;
}

footer {
  padding: 5px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  height: 10%;
}

.about {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.new_entry {
  height: 50%; 
  max-height: 800px;

  label {
    display: block;
  }

  input[type="text"]:focus {
    padding: 10px;
    font-family: 'Bangers', Helvetica, Arial, sans-serif;
    outline: none;
    border-bottom: 1px solid white;
  }

  input[type="text"] {
    border: none;
    line-height: 8rem;
    font-size: 4rem;
    max-width: 900px;
    width: 100%;
    height: 8rem;
    background: $light-blue;
  }
  input[type="submit"] {
    background: $light-blue;
    border-style: none;
    border-image: none;
    font-family: 'Bangers', 'Helvetica';
    color: white;
    font-size: 3rem;
    padding: 10px;
  }
  /*input[type="submit"] {
    background: $light-blue image-url('arrow.svg') 50% 50%/70% 70% no-repeat;
    border-style: none;
    border-image: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

  }*/

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: center;
    color: white !important;
    opacity: 0.7 !important;
    font-family: 'Bangers', Helvetica, Arial, sans-serif;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
    color: white !important;
    opacity: 0.7 !important;
    font-family: 'Bangers', Helvetica, Arial, sans-serif;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
    color: white !important;
    opacity: 0.7 !important;
    font-family: 'Bangers', Helvetica, Arial, sans-serif;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: center;
    color: white !important;
    opacity: 0.7 !important;
    font-family: 'Bangers', Helvetica, Arial, sans-serif;
  }

  .hidden {
    display: none;
  }
}

.submit {
  margin-top: 10px;
  text-align: center;
}

.alert, .notice {
  font-size: 4rem;
  text-align: center;
  margin: 0px;
  font-family: 'Bangers', Helvetica, Arial, sans-serif;
}

.random {
  margin: 20px 0px;
  text-align: center;
  color: white;
  p {
    font-family: 'Bangers';
  }
}

.stylish_button {
  padding: 10px;
  background: $light-blue;
  color: white;
  font-family: 'Bangers', 'Helvetica';
  font-size: 3.25rem;
}
